
body {
    /*line height predefines the height of the body, giving it more space to start. Makes it so the page is not so crammed together.*/
  line-height: 30px;
  text-align: center;
  background-color: darkgrey;
}

h2 {
  text-align: left;
  padding-left: 70px;
  border: 3px solid black;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 60px;
  border-radius: 9px;
}

.form {
  background-color: black;
  width: 50%;
  display: inline-block;
  border-radius: 9px;
  padding: 5px;
}

.proSpan {
  padding-left: 60px;
  padding-right: 5px;
}

.classSpan {
  padding-right: 5px;
}

.codeSpan {
  padding-right;
}

.signSpan {
  /*float just allows the sign up button to be displayed on the right side of the page.*/
  padding-top: 5px;
  float: right;
  text-align: right;
  padding: 5px;
}

.userNameDiv {
  margin-top: 20px;
  color: white;
  margin-right: 45px;
  padding: 5px;
}

.passwordDiv {
  margin-top: 20px;
  color: white;
  margin-right: 45px;
  padding: 5px;
}

.signBtn {
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 5px;
}

.loginBtn {
  float: right;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 5px;
}

.label {
  color: white;
  font-size: 25px;
  text-align: center;
  border-bottom: 4px solid white;
  margin-left: 10px;
  padding: 5px;
}
