::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(180, 180, 180, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.4);
}
